In [7]:
import pandas as pd
import numpy as np
import array_to_latex as a2l
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
A = np.array([[1.23456, 23.45678],[456.23, 8.239521]])
a2l.to_ltx(A, frmt = '{:6.2f}', arraytype = 'array')

\begin{array}
    1.2 &   23.4\\
  456.2 &    8.2
\end{array}
None

In [9]:
a2l.to_ltx(A, frmt = '{:6.2e}', arraytype = 'array')

\begin{array}
  1.23e+0 &  2.35e+0\\
  4.56e+0 &  8.24e+0
\end{array}
None

In [10]:
_=a2l.to_ltx(A, frmt = '{:.3g}', arraytype = 'array')

\begin{array}
  1.2 &  23.\\
  45  &  8.2
\end{array}
None

In [11]:
a2l.to_ltx(np.array([A[:,0]]).T)

\begin{bmatrix}
  1.2\\
  456.2
\end{bmatrix}
None

In [14]:
A = np.array([1.23456, 23.45678, 456.23, 8.239521])
a2l.to_ltx(A, frmt = '{:6.2f}', arraytype = 'array')

\begin{array}
    1.2 &   23.4 &  456.2 &    8.2
\end{array}
None

In [30]:
type(A) == np.ndarray

True

In [28]:
type(df2)

pandas.core.frame.DataFrame

# Panda DataFrames effort.

In [15]:
df2 = pd.DataFrame(np.random.randint(low=0, high=10, size=(5, 5)),
...                    columns=['a', 'b', 'c', 'd', 'e'])

In [16]:
df2

   a  b  c  d  e
0  6  1  6  0  2
1  6  0  4  3  5
2  9  8  2  4  1
3  9  8  4  2  4
4  0  5  2  5  5

In [13]:
np.array(df2)

array([[9, 7, 9, 5, 8],
       [8, 8, 1, 9, 9],
       [0, 6, 9, 6, 8],
       [4, 0, 2, 9, 2],
       [4, 5, 3, 4, 0]])

In [18]:
a2l.to_ltx(df2)

Still have to make this function. Sorry.
Returning the data portion.
\begin{bmatrix}
  6.0 &  1.0 &  6.0 &  0.0 &  2.0\\
  6.0 &  0.0 &  4.0 &  3.0 &  5.0\\
  9.0 &  8.0 &  2.0 &  4.0 &  1.0\\
  9.0 &  8.0 &  4.0 &  2.0 &  4.0\\
  0.0 &  5.0 &  2.0 &  5.0 &  5.0
\end{bmatrix}
None

In [15]:
df2.columns

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [18]:
df2.keys()[0]

'a'

In [19]:
df2

   a  b  c  d  e
0  9  7  9  5  8
1  8  8  1  9  9
2  0  6  9  6  8
3  4  0  2  9  2
4  4  5  3  4  0

All we need to execute this is including these calls in the looping.

In [19]:
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

In [22]:
isinstance(df2,pd.core.frame.DataFrame)

True