# Some brief examples on using array_to_latex to get nicely formatted latex versions of your arrays.

In [45]:
import pandas as pd
import numpy as np
import array_to_latex as a2l
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Let's create an array and output it as $\LaTeX$. We are going to use [Python 3.0 string formatting](https://docs.python.org/3.7/library/string.html) 

The following shows a float style output with 2 decimal places.

In [46]:
A = np.array([[1.23456, 23.45678],[456.23+1j, 8.239521]])
a2l.to_ltx(A, frmt = '{:.2f}', arraytype = 'array', mathform = True)

\begin{array}
  1.23 + 0.00j &  23.46 + 0.00j\\
  456.23 + 1.00j &  8.24 + 0.00j
\end{array}
None

I'm still not done making the columns line up perfectly. I would love a pull request to fix this. It's not critical as the $\LaTeX$ works fine. 

Not documented well is that one can use a number before the decimal place. This defines the minimum width to use for the number, padding with spaces at the beginning. 

Since the largest number needs 6 characters (3 before the decimal, the decimal, and 2 after), putting a 6 in this location makes everything line up nicely. This would also be a nice default to code up.

In [47]:
A = np.array([[1.23456, 23.45678],[456.23+1j, 8.239521]])
a2l.to_ltx(A, frmt = '{:6.2f}', arraytype = 'array', mathform = True)

\begin{array}
    1.23 +   0.00j &   23.46 +   0.00j\\
  456.23 +   1.00j &    8.24 +   0.00j
\end{array}
None

Let's put it in exponential form.

In [48]:
a2l.to_ltx(A, frmt = '{:.2e}', arraytype = 'array', mathform=False)

\begin{array}
  1.23e+00 + 0.00e+00j &  2.35e+01 + 0.00e+00j\\
  4.56e+02 + 1.00e+00j &  8.24e+00 + 0.00e+00j
\end{array}
None

That's not how humans/textbooks write exponential form. Let's use `mathform=True` (which is the default).

In [49]:
a2l.to_ltx(A, frmt = '{:6.2e}', arraytype = 'array', mathform=True)

\begin{array}
  1.23\times 10^{+00} + 0.00\times 10^{+00}j &  2.35\times 10^{+01} + 0.00\times 10^{+00}j\\
  4.56\times 10^{+02} + 1.00\times 10^{+00}j &  8.24\times 10^{+00} + 0.00\times 10^{+00}j
\end{array}
None

It's easier to make these columns line up than when using `f` format styling- so I believe it is working.

Of course, the typeset $\LaTeX$ will look better than the raw $\LaTeX$.

One can also capture the string in the output.

It will also do column and row-vectors. It's the array is 1-D, the default is a row.

In [50]:
A = np.array([1.23456, 23.45678, 456.23, 8.239521])
a2l.to_ltx(A, frmt = '{:6.2f}', arraytype = 'array')

\begin{array}
    1.23 &   23.46 &  456.23 &    8.24
\end{array}
None

In [51]:
A = np.array([[1.23456, 23.45678, 456.23, 8.239521]])
a2l.to_ltx(A, frmt = '{:6.2f}', arraytype = 'array')

\begin{array}
    1.23 &   23.46 &  456.23 &    8.24
\end{array}
None

In [52]:
A = np.array([[1.23456, 23.45678, 456.23, 8.239521]]).T
a2l.to_ltx(A, frmt = '{:6.2f}', arraytype = 'array')

\begin{array}
    1.23\\
   23.46\\
  456.23\\
    8.24
\end{array}
None

We can use the `lambda` function method to create a function with personalized defaults. This makes for a much more compact call, and one that can be adjusted for an entire session.

In [53]:
to_tex = lambda A : a2l.to_ltx(A, frmt = '{:6.2e}', arraytype = 'array', mathform=True)
to_tex(A)

\begin{array}
  1.23\times 10^{+00}\\
  2.35\times 10^{+01}\\
  4.56\times 10^{+02}\\
  8.24\times 10^{+00}
\end{array}
None

In [54]:
to_tex = lambda A : a2l.to_ltx(A, frmt = '{:6.2f}', arraytype = 'array', mathform=True)
to_tex(A)

\begin{array}
    1.23\\
   23.46\\
  456.23\\
    8.24
\end{array}
None

# Panda DataFrames

You can also produce tables or math arrays from Panda DataFrames.

In [32]:
df = pd.DataFrame(np.random.randint(low=0, high=10, size=(5, 5)),
...                    columns=['a', 'b', 'c', 'd', 'e'])

In [33]:
df

   a  b  c  d  e
0  2  4  3  7  2
1  1  5  8  9  3
2  4  9  8  3  5
3  4  2  4  9  5
4  7  9  8  2  1

In [34]:
np.array(df)

array([[2, 4, 3, 7, 2],
       [1, 5, 8, 9, 3],
       [4, 9, 8, 3, 5],
       [4, 2, 4, 9, 5],
       [7, 9, 8, 2, 1]])

In [35]:
a2l.to_ltx(df, arraytype='bmatrix')

\begin{bmatrix}
 0 &  2.00 &  4.00 &  3.00 &  7.00 &  2.00\\
 1 &  1.00 &  5.00 &  8.00 &  9.00 &  3.00\\
 2 &  4.00 &  9.00 &  8.00 &  3.00 &  5.00\\
 3 &  4.00 &  2.00 &  4.00 &  9.00 &  5.00\\
 4 &  7.00 &  9.00 &  8.00 &  2.00 &  1.00
\end{bmatrix}

In [36]:
a2l.to_ltx(df, arraytype='tabular')

\begin{tabular}{lrrrrr}
\toprule
     & a & b & c & d & e \\\n\midrule
 0 &  2.00 &  4.00 &  3.00 &  7.00 &  2.00\\
 1 &  1.00 &  5.00 &  8.00 &  9.00 &  3.00\\
 2 &  4.00 &  9.00 &  8.00 &  3.00 &  5.00\\
 3 &  4.00 &  2.00 &  4.00 &  9.00 &  5.00\\
 4 &  7.00 &  9.00 &  8.00 &  2.00 &  1.00\\
\bottomrule
\end{tabular}

In [37]:
df2 = pd.DataFrame(['cat', 'dog', 'bird', 'snake', 'honey badger'], columns=['pets'])
df2

           pets
0           cat
1           dog
2          bird
3         snake
4  honey badger

In [38]:
df_mixed = df.join(df2)
df_mixed

   a  b  c  d  e          pets
0  2  4  3  7  2           cat
1  1  5  8  9  3           dog
2  4  9  8  3  5          bird
3  4  2  4  9  5         snake
4  7  9  8  2  1  honey badger

In [39]:
a2l.to_ltx(df_mixed, arraytype='tabular')

\begin{tabular}{lrrrrrr}
\toprule
     & a & b & c & d & e & pets \\\n\midrule
 0 &  2.00 &  4.00 &  3.00 &  7.00 &  2.00 &  cat         \\
 1 &  1.00 &  5.00 &  8.00 &  9.00 &  3.00 &  dog         \\
 2 &  4.00 &  9.00 &  8.00 &  3.00 &  5.00 &  bird        \\
 3 &  4.00 &  2.00 &  4.00 &  9.00 &  5.00 &  snake       \\
 4 &  7.00 &  9.00 &  8.00 &  2.00 &  1.00 &  honey badger\\
\bottomrule
\end{tabular}

In [40]:
A = np.array([[1.23456, 23.45678],[456.23, 8.239521]])
a2l.to_ltx(A, frmt = '{:6.2f}', arraytype = 'array')

\begin{array}
    1.23 &   23.46\\
  456.23 &    8.24
\end{array}
None

In [41]:
A = np.array([[1.23456, 23.45678],[456.72+392.71j, 8.239521]])

In [42]:
a2l.to_ltx(A, frmt = '{:7.3e}', arraytype = 'array', imstring = 'i')

\begin{array}
  1.235\times 10^{+00} + 0.000\times 10^{+00}i &  2.346\times 10^{+01} + 0.000\times 10^{+00}i\\
  4.567\times 10^{+02} + 3.927\times 10^{+02}i &  8.240\times 10^{+00} + 0.000\times 10^{+00}i
\end{array}
None