# Some brief examples on using array_to_latex to get nicely formatted latex versions of your arrays.

In [1]:
import pandas as pd
import numpy as np
import array_to_latex as a2l
%load_ext autoreload
%autoreload 2

In [52]:
A = np.array([[1.23456, 23.45678],[456.23+1j, 8.239521]])
a2l.to_ltx(A, frmt = '{:6.2f}', arraytype = 'array')

\begin{array}
  1.235e+00 + 0.000e+00j &  2.346e+01 + 0.000e+00j\\
  4.562e+02 + 1.000e+00j &  8.240e+00 + 0.000e+00j
\end{array}
None

In [8]:
a2l.to_ltx(A, frmt = '{:6.2e}', arraytype = 'array')

\begin{array}
  1.23e+00 &  2.35e+01\\
  4.56e+02 &  8.24e+00
\end{array}
None

In [9]:
_=a2l.to_ltx(A, frmt = '{:.3g}', arraytype = 'array')

\begin{array}
  1.23 &  23.5\\
  456  &  8.24
\end{array}
None

In [10]:
a2l.to_ltx(np.array([A[:,0]]).T)

\begin{bmatrix}
  1.23\\
  456.23
\end{bmatrix}
None

In [11]:
A = np.array([1.23456, 23.45678, 456.23, 8.239521])
a2l.to_ltx(A, frmt = '{:6.2f}', arraytype = 'array')

\begin{array}
    1.23 &   23.46 &  456.23 &    8.24
\end{array}
None

# Panda DataFrames

You can also produce tables or math arrays from Panda DataFrames.

In [12]:
df = pd.DataFrame(np.random.randint(low=0, high=10, size=(5, 5)),
...                    columns=['a', 'b', 'c', 'd', 'e'])

In [13]:
df

   a  b  c  d  e
0  4  5  2  4  2
1  2  6  2  5  6
2  8  4  4  9  1
3  2  9  6  8  7
4  3  5  8  8  7

In [14]:
np.array(df)

array([[4, 5, 2, 4, 2],
       [2, 6, 2, 5, 6],
       [8, 4, 4, 9, 1],
       [2, 9, 6, 8, 7],
       [3, 5, 8, 8, 7]])

In [15]:
a2l.to_ltx(df, arraytype='bmatrix')

\begin{bmatrix}
 0 &  4.00 &  5.00 &  2.00 &  4.00 &  2.00\\
 1 &  2.00 &  6.00 &  2.00 &  5.00 &  6.00\\
 2 &  8.00 &  4.00 &  4.00 &  9.00 &  1.00\\
 3 &  2.00 &  9.00 &  6.00 &  8.00 &  7.00\\
 4 &  3.00 &  5.00 &  8.00 &  8.00 &  7.00
\end{bmatrix}

In [16]:
a2l.to_ltx(df, arraytype='tabular')

\begin{tabular}{lrrrrr}
\toprule
     & a & b & c & d & e \\\n\midrule
 0 &  4.00 &  5.00 &  2.00 &  4.00 &  2.00\\
 1 &  2.00 &  6.00 &  2.00 &  5.00 &  6.00\\
 2 &  8.00 &  4.00 &  4.00 &  9.00 &  1.00\\
 3 &  2.00 &  9.00 &  6.00 &  8.00 &  7.00\\
 4 &  3.00 &  5.00 &  8.00 &  8.00 &  7.00\\
\bottomrule
\end{tabular}

In [17]:
df2 = pd.DataFrame(['cat', 'dog', 'bird', 'snake', 'honey badger'], columns=['pets'])
df2

           pets
0           cat
1           dog
2          bird
3         snake
4  honey badger

In [18]:
df_mixed = df.join(df2)
df_mixed

   a  b  c  d  e          pets
0  4  5  2  4  2           cat
1  2  6  2  5  6           dog
2  8  4  4  9  1          bird
3  2  9  6  8  7         snake
4  3  5  8  8  7  honey badger

In [50]:
a2l.to_ltx(df_mixed, arraytype='tabular')

\begin{tabular}{lrrrrrr}
\toprule
     & a & b & c & d & e & pets \\\n\midrule
 0 &  4.00 &  5.00 &  2.00 &  4.00 &  2.00 &  cat         \\
 1 &  2.00 &  6.00 &  2.00 &  5.00 &  6.00 &  dog         \\
 2 &  8.00 &  4.00 &  4.00 &  9.00 &  1.00 &  bird        \\
 3 &  2.00 &  9.00 &  6.00 &  8.00 &  7.00 &  snake       \\
 4 &  3.00 &  5.00 &  8.00 &  8.00 &  7.00 &  honey badger\\
\bottomrule
\end{tabular}

In [51]:
A = np.array([[1.23456, 23.45678],[456.23, 8.239521]])
a2l.to_ltx(A, frmt = '{:6.2f}', arraytype = 'array')

\begin{array}
    1.23 &   23.46\\
  456.23 &    8.24
\end{array}
None

In [46]:
A = np.array([[1.23456, 23.45678],[456.72+392.71j, 8.239521]])

In [49]:
a2l.to_ltx(A, frmt = '{:7.3e}', arraytype = 'array', imstring = 'i')

\begin{array}
  1.235e+00 + 0.000e+00i &  2.346e+01 + 0.000e+00i\\
  4.567e+02 + 3.927e+02i &  8.240e+00 + 0.000e+00i
\end{array}
None