In [4]:
import pandas as pd
import numpy as np
import array_to_latex as a2l
%load_ext autoreload
%autoreload 2

In [5]:
A = np.array([[1.23456, 23.45678],[456.23, 8.239521]])
a2l.to_ltx(A, frmt = '{:6.2f}', arraytype = 'array')

\begin{array}
    1.2 &   23.4\\
  456.2 &    8.2
\end{array}
None
huh

In [3]:
a2l.to_ltx(A, frmt = '{:6.2e}', arraytype = 'array')

NameError: name 'a2l' is not defined

In [7]:
_=a2l.to_ltx(A, frmt = '{:.3g}', arraytype = 'array')

\begin{bmatrix}
  1.2 &  23.4\\
  456.2 &  8.2
\end{bmatrix}
None

In [23]:
a2l.to_ltx(np.array([A[:,0]]).T)

\begin{bmatrix}
  1.2\\
  456.2
\end{bmatrix}

In [25]:
A = np.array([1.23456, 23.45678],[456.23, 8.239521])
a2l.to_ltx(A, frmt = '{:6.2f}', arraytype = 'array')

TypeError: data type not understood

In [30]:
type(A) == np.ndarray

True

In [28]:
type(df2)

pandas.core.frame.DataFrame

# Panda DataFrames effort.

In [2]:
df2 = pd.DataFrame(np.random.randint(low=0, high=10, size=(5, 5)),
...                    columns=['a', 'b', 'c', 'd', 'e'])

In [3]:
df2

   a  b  c  d  e
0  9  7  9  5  8
1  8  8  1  9  9
2  0  6  9  6  8
3  4  0  2  9  2
4  4  5  3  4  0

In [4]:
import array_to_latex as a2l

In [13]:
np.array(df2)

array([[9, 7, 9, 5, 8],
       [8, 8, 1, 9, 9],
       [0, 6, 9, 6, 8],
       [4, 0, 2, 9, 2],
       [4, 5, 3, 4, 0]])

In [14]:
a2l.to_ltx(np.array(df2))

\begin{bmatrix}
  9.0 &  7.0 &  9.0 &  5.0 &  8.0\\
  8.0 &  8.0 &  1.0 &  9.0 &  9.0\\
  0.0 &  6.0 &  9.0 &  6.0 &  8.0\\
  4.0 &  0.0 &  2.0 &  9.0 &  2.0\\
  4.0 &  5.0 &  3.0 &  4.0 &  0.0
\end{bmatrix}

In [15]:
df2.columns

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [18]:
df2.keys()[0]

'a'

In [19]:
df2

   a  b  c  d  e
0  9  7  9  5  8
1  8  8  1  9  9
2  0  6  9  6  8
3  4  0  2  9  2
4  4  5  3  4  0

All we need to execute this is including these calls in the looping.