In [4]:
import pandas as pd
import numpy as np
import array_to_latex as a2l
%load_ext autoreload
%autoreload 2

In [6]:
A = np.array([[1.23456, 23.45678],[456.23, 8.239521]])
a2l.to_ltx(A, frmt = '{:6.2f}', arraytype = 'array')

\begin{array}
    1.2 &   23.4\\
  456.2 &    8.2
\end{array}
None

In [7]:
a2l.to_ltx(A, frmt = '{:6.2e}', arraytype = 'array')

\begin{array}
  1.23e+0 &  2.35e+0\\
  4.56e+0 &  8.24e+0
\end{array}
None

In [8]:
_=a2l.to_ltx(A, frmt = '{:.3g}', arraytype = 'array')

\begin{array}
  1.2 &  23.\\
  45  &  8.2
\end{array}
None

In [9]:
a2l.to_ltx(np.array([A[:,0]]).T)

\begin{bmatrix}
  1.2\\
  456.2
\end{bmatrix}
None

In [10]:
A = np.array([1.23456, 23.45678, 456.23, 8.239521])
a2l.to_ltx(A, frmt = '{:6.2f}', arraytype = 'array')

\begin{array}
    1.2 &   23.4 &  456.2 &    8.2
\end{array}
None

# Panda DataFrames effort.

In [13]:
df = pd.DataFrame(np.random.randint(low=0, high=10, size=(5, 5)),
...                    columns=['a', 'b', 'c', 'd', 'e'])

In [14]:
df

   a  b  c  d  e
0  6  7  0  9  2
1  4  0  5  5  3
2  7  8  9  9  3
3  7  5  4  6  3
4  9  0  6  9  4

In [15]:
np.array(df)

array([[6, 7, 0, 9, 2],
       [4, 0, 5, 5, 3],
       [7, 8, 9, 9, 3],
       [7, 5, 4, 6, 3],
       [9, 0, 6, 9, 4]])

In [71]:
a2l.to_ltx(df)

\begin{tabular}{lrrrrr}
\toprule
     & a & b & c & d & e \\
\midrule
 0 &  6.0 &  7.0 &  0.0 &  9.0 &  2.0\\
 1 &  4.0 &  0.0 &  5.0 &  5.0 &  3.0\\
 2 &  7.0 &  8.0 &  9.0 &  9.0 &  3.0\\
 3 &  7.0 &  5.0 &  4.0 &  6.0 &  3.0\\
 4 &  9.0 &  0.0 &  6.0 &  9.0 &  4.0\\
\bottomrule
\end{tabular}

In [70]:
\begin{tabular}{lrrrrr}
\toprule
     & a & b & c & d & e 
\midrule
 0 &  6.0 &  7.0 &  0.0 &  9.0 &  2.0\\
 1 &  4.0 &  0.0 &  5.0 &  5.0 &  3.0\\
 2 &  7.0 &  8.0 &  9.0 &  9.0 &  3.0\\
 3 &  7.0 &  5.0 &  4.0 &  6.0 &  3.0\\
 4 &  9.0 &  0.0 &  6.0 &  9.0 &  4.0\\
\bottomrule
\end{tabular}

SyntaxError: unexpected character after line continuation character (<ipython-input-70-f96e51a20273>, line 1)

In [17]:
df.columns

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [18]:
df.keys()

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [37]:
rows=df.transpose().columns

In [39]:
max(len(rows))

TypeError: 'int' object is not iterable

In [54]:
print(df.to_latex())

\begin{tabular}{lrrrrr}
\toprule
{} &  a &  b &  c &  d &  e \\
\midrule
0 &  6 &  7 &  0 &  9 &  2 \\
1 &  4 &  0 &  5 &  5 &  3 \\
2 &  7 &  8 &  9 &  9 &  3 \\
3 &  7 &  5 &  4 &  6 &  3 \\
4 &  9 &  0 &  6 &  9 &  4 \\
\bottomrule
\end{tabular}

In [28]:
for item in df.items():
    print(item)

('a', 0    6
1    4
2    7
3    7
4    9
Name: a, dtype: int64)
('b', 0    7
1    0
2    8
3    5
4    0
Name: b, dtype: int64)
('c', 0    0
1    5
2    9
3    4
4    6
Name: c, dtype: int64)
('d', 0    9
1    5
2    9
3    6
4    9
Name: d, dtype: int64)
('e', 0    2
1    3
2    3
3    3
4    4
Name: e, dtype: int64)

In [19]:
df

   a  b  c  d  e
0  9  7  9  5  8
1  8  8  1  9  9
2  0  6  9  6  8
3  4  0  2  9  2
4  4  5  3  4  0

All we need to execute this is including these calls in the looping.

In [19]:
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

In [22]:
isinstance(df2,pd.core.frame.DataFrame)

True